<div class="wrapper">
  <div class="container">
    <div *ngIf="homepageSummary$ | async; let summary">
      {{summary.content}}
    </div>
    <button
      (click)="sendGtaData('view treatment')"
      class="main-button"
      color="primary"
      mat-flat-button
      routerLink="/treatments"
    >
      View Treatments
    </button>

    <button
      (click)="sendGtaData('book a consultation')"
      class="main-button"
      color="primary"
      mat-flat-button
      routerLink="/consultation"
    >
      Book Consultation
    </button>

  </div>
</div>
