<div class="container">
  <div>
    A boutique skin clinic located in SW9 London lead by experienced Aesthetician Cinzia Campigotto, 
    who has extensive knowledge in skin health and wellbeing. 
    Beauti is specialised in providing advanced skin solutions to skin conditions such as ageing, acne, 
    rosacea and pigmentation. We believe in delivering the most effective results while creating a warm, 
    clean and friendly atmosphere for all our customers. 
  </div>
  <button
        mat-flat-button
        color="primary"
        class="main-button"
        routerLink="/treatments"
      >
        View Treatments
  </button>
</div>