<ngx-slick-carousel
	#slickModal="slick-carousel"
  [config]="slideConfig"
  id="carousel"
>
  <div *ngFor="let slide of slides" class="slide" ngxSlickItem>
    <img
      [alt]="slide.alt"
      [src]="slide.img"
      class="js-lazy-image"
      width="100%"
    />
  </div>
</ngx-slick-carousel>
<div class="container about-us-page">
  <div
    *ngIf="aboutUs$ | async as aboutUsContent"
    [innerHTML]="aboutUsContent.cke"
    class="container about-us-page"
  ></div>
  <div class="beauti-room">
    <img src="assets/beauti-room.jpeg"/>
  </div>

</div>
