<ngx-slick-carousel
  id="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img
      src="{{ slide.img }}"
      alt="Cinzia profile picture | Beauti Skin Clinic | Oval, Vauxhall, Kennington, Stockwell, brixton, clapham, sw9"
      width="100%"
      class="js-lazy-image"
    />
  </div>
</ngx-slick-carousel>

<div
  *ngIf="aboutUs$ | async as aboutUsContent"
  class="container about-us-page"
  [innerHTML]="aboutUsContent.cke"
></div>
