<h3>Popular Treatment</h3>
<div>
  <div class="popular-grid">
    <div class="feature-box">
      <h4>Aesthetics</h4>
      <div>
        <p>
          <a routerLink="/treatments/Anti-Wrinkle-Injections">
            Anti-Wrinkle Injections
          </a>
        </p>
        <p>
          <a routerLink="/treatments/Fat-Dissolving-Injections">Aqualyx </a>
        </p>
        <p>
          <a routerLink="/treatments/Dermal-Fillers">
            Dermal Fillers
          </a>
        </p>
        <p>
          <a routerLink="/treatments/Profhilo">Profhilo</a>
        </p>
        <p>
          <a routerLink="/treatments/PRP-Vampire-Facial">PRP Vampire Facial </a>
        </p>
      </div>
    </div>
    <div class="feature-box">
      <h4>Advanced Skin</h4>
      <div>
        <p>
          <a routerLink="/treatments/Advanced-Beauti-Signature-Relaxing-Facial">Advanced Relaxing
            Facial</a>
        </p>
        <p>
          <a routerLink="/treatments/Aqua-3-Hydrotherapy-Facial">Aqua 3 Hydrotherapy Facial</a>

        </p>
        <p>
          <a routerLink="/treatments/Microneedling-with-Dermapen">Microneedling</a>
        </p>
        <p>
          <a routerLink="/treatments/Skin-Peel">Skin Peel</a>
        </p>
        <p>
          <a routerLink="/treatments/TriBella">TriBella</a>
        </p>

      </div>
    </div>
  </div>
  <div class="container-featured">
    <div class="fade_rule"></div>
    <h4 class="sub-heading"> As Featured in </h4>
    <logo-carousel [images]="slides" [styles]="slideStyles"></logo-carousel>
  </div>
</div>
