<div class="main">
  <app-beauti-logo></app-beauti-logo>
  <div>
    <div class="social">
      <a href="https://www.instagram.com/beautiskinclinic/">
        <app-insta class="instagram"></app-insta>
      </a>
    </div>
    <div>
      66A Brixton Road, London, SW9 6BP <br />
      Telephone: <a href="tel:02078201177">020 7820 1177</a> <br />
      Email: <a href="mailto:info@beautiskinclinic.com">info@beautiskinclinic.com</a> 
    </div>
    <div>
      OPENING TIMES <br />
      Mon-Fri 10pm-8pm <br />
      Sat 9am-5pm
    </div>
  </div>
</div>
<div class="final">
  © 2021 BEAUTI. Website design by
  <a href="https://www.elsabenoldi.com/" rel="noopener" target="_blank"
    >Elsa Benoldi</a
  >, website development by Zozor Consultancy.
</div>
