<div class="outer">
  <div *ngIf="treatmentShowcase$ | async as treatment" class="container">
    <div class="header">
      <button
        (click)="goToParent()"
        mat-stroked-button
        class="arrow-button main-button"
      >
        <i class="arrow left"></i>
        <h4>
          {{ activeTreatmentList[activeTreatmentList.length - 1] }}
        </h4>
      </button>
    </div>
    <div class="title">
      <h1>
        {{ treatment.title }}
      </h1>
      <button
        (click)="openBooking($event)"
        mat-flat-button
        color="primary"
        class="main-button book-now"
      >
        Book now
      </button>
    </div>
    <img
      [src]="imageUrl"
      class="js-lazy-image"
      alt="Treatment showcase image"
    />
    <div class="showcase-content">
      <div [innerHTML]="treatment.content | MarkdownToHtml"></div>
    </div>
  </div>
  <div class="book-treatment-fixed">
    <button
      (click)="openBooking($event)"
      mat-flat-button
      color="primary"
      class="main-button mobile"
    >
      Book now
    </button>
  </div>
</div>
