<app-map class="map"></app-map>
<div class="contact-points">
  <div>
    <h2>Address</h2>
    <div>
      66A Brixton Road <br />
      Oval | Brixton <br />
      London, SW9 6BP
    </div>
  </div>
  <div>
    <h1>Contact Details</h1>
    <div>
      020 7820 1177 <br />
      info@beautiskinclinic.com
    </div>
  </div>
  <div>
    <h2>Hours</h2>
    <div>Mon-Fri | 10am-8pm <br /></div>
    <div>Sat | 9am-5pm <br /></div>
  </div>
</div>

<ngx-slick-carousel
  id="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img
      src="{{ slide.img }}"
      alt="Beauti Salon interior picture"
      width="100%"
      class="js-lazy-image"
    />
  </div>
</ngx-slick-carousel>
