<ng-container *ngIf="data">
  <mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title><h2>{{data.sectionName}}</h2></mat-panel-title>
        <mat-panel-description>
          <a
            class="book-now"
            href="https://widget.treatwell.co.uk/place/beauti-skin-clinic/"
            target="_blank"
          >
            <button
              (click)="openBooking($event)"
              class="main-button"
              color="primary"
              mat-flat-button
            >
              Book now
            </button>
          </a>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sub">
        <ng-container *ngFor="let subSection of data.subSections">

          <app-treatment-section [data]="subSection"></app-treatment-section>
        </ng-container>

        <ng-container *ngFor="let treatmentPrices of data.subPrices">
          <app-treatment-price [data]="treatmentPrices"></app-treatment-price>
        </ng-container>
        <ng-container *ngFor="let treatmentTreatments of data.subTreatments">
          <app-treatment-info [data]="treatmentTreatments"></app-treatment-info>
        </ng-container>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>


