<div class="container consultation-page">
  <div
    *ngIf="consultationContent$ | async as consultationContent"

    [innerHTML]="consultationContent.cke | bypassHtmlSecurity"
  ></div>

<!--  <form [formGroup]="consultationForm" (ngSubmit)="onFormSubmit()">-->

<!--    <div class="row">-->
<!--      <div>-->
<!--&lt;!&ndash;        <label for="first-name">First Name: </label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input id="first-name" type="text" formControlName="firstName" required>&ndash;&gt;-->

<!--        <mat-form-field appearance="outline" formControlName="firstName">-->
<!--          <mat-label>First Name: </mat-label>-->
<!--          <input id="first-name" type="text"  required>-->
<!--          <mat-hint>Hint</mat-hint>-->
<!--        </mat-form-field>-->

<!--      </div>-->

<!--      <div>-->
<!--        <label for="last-name">Last Name: </label>-->
<!--        <input id="last-name" type="text" formControlName="lastName">-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--      <div>-->
<!--        <label for="number">Contact number: </label>-->
<!--        <input id="number" type="text" formControlName="contactNumber">-->
<!--      </div>-->

<!--      <div>-->
<!--        <label for="email">Email: </label>-->
<!--        <input id="email" type="text" formControlName="email">-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--      <div>-->
<!--        <label for="message">Message: </label>-->
<!--        <input id="message" type="text" formControlName="message">-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--      <input id="first-customer" type="checkbox" formControlName="firstTimeCustomer">-->
<!--      <label for="first-customer">I am a first-time customer</label>-->
<!--    </div>-->

<!--    <button type="submit" [disabled]="!consultationForm.valid">Send</button>-->
<!--  </form>-->
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Company (disabled)</mat-label>
        <input matInput disabled value="Google">
      </mat-form-field>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Long Last Name That Will Be Truncated</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field></td>
      </tr></table>
    </form>
  </div>
</div>

