/* You can add global styles to this file, and also import other style files */
@import 'buttons';
@import 'palette';
@import 'feature-pages';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

html {
  background-color: white;
  height: 100%;
}

body {
  height: 100%;
  padding-top: 83px;

  @media (max-width: 574px) {
    padding-top: 72px;
  }
}

* {
  margin: 0;
}

.mat-typography {
  h3,
  h1,
  h2,
  h4 {
    font-family: 'Roboto', 'Helvetica Neue', serif;
    color: $grey-black;
    font-weight: 100;
    text-align: center;
  }

  h3 {
    font-size: 32px;
    margin-bottom: 50px;
  }

}

#carousel .slick-dots,
.carousel .slick-dots {
  bottom: 0;
  position: absolute;

  @media (max-width: 768px) {
    //margin-left: 30px;
    //margin-right: 30px;
    bottom: 20px !important;

    padding-right: 37px;
  }


  li {
    button::before {
      content: '' !important;
      height: 11px;
      width: 11px;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid white;
      opacity: 1;
    }

    &.slick-active {
      button::before {
        background-color: white;
      }
    }
  }
}

.carousel.single-banner .slick-dots {
  display: none !important;
}

#review-container .carousel .slick-dots {
  margin: 0;
  padding: 0;
  text-align: center
}

.carousel.carousel-light-bg .slick-dots {

  li {
    button::before {
      border: 1px solid $blue-type1;
    }

    &.slick-active {
      button::before {
        background-color: $blue-type1;
      }
    }
  }
}

.custom-dialog-container {
  max-width: 100vw !important;

  .mat-dialog-container {
    padding: 0;
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.outer {
  background-color: rgba($blue-type1, 0.15);
}

.showcase-content {

  h4,
  h2 {
    font-size: 17px;
    font-weight: normal;
    font-family: 'Nunito Sans', sans-serif;

    text-align: left;
    padding: 10px 15px;
    background-color: rgba($blue-type1, .4);
    margin-top: 35px;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 17px;
    font-weight: normal;
    font-family: 'Nunito Sans', sans-serif;

    &:last-of-type {
      margin-top: 30px;
    }
  }


  p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 32px;
    margin-bottom: 40px;

    a {
      color: inherit;
    }

    @media (max-width: 1200px) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

ul {
  padding: 0;
  padding-left: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 32px;

  li {
    font-weight: 100;

    a {
      color: $grey-black;
    }
  }

  @media (max-width: 1200px) {
    margin-left: 30px;
    margin-right: 30px;
  }

}

.about-us {
  ul {
    @media (max-width: 1200px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.book-treatment-fixed {
  position: fixed;
  display: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  text-align: center;
  height: 70px;
  align-items: center;
  justify-content: center;

  .main-button.mat-primary.mobile {
    border: none;
    width: 146px;
    height: 41px;
    max-height: 146px;
    padding: 0;
    z-index: 10;
  }

  @media only screen and (max-width: 600px) {
    display: flex;
  }
}

.showcase-content {
  img {
    max-width: 400px;
    display: block;
  }
}

.mapboxgl-ctrl-zoom-in {
  .mapboxgl-ctrl-icon::after {
    content: "+";
  }
}

.mapboxgl-ctrl-zoom-out {
  .mapboxgl-ctrl-icon::after {
    content: "-";
  }
}

.mapboxgl-ctrl-compass {
  .mapboxgl-ctrl-icon::after {
    content: "c";
  }
}

.hp-slider {

  .slick-dots {
    bottom: 20px !important;
  }
}

.address-google-map {
  text-decoration: underline !important;
  color: inherit;
  position: relative;

  .mat-icon {
    font-size: 19px;
    position: absolute;
    bottom: -3px;
    margin-left: 3px
  }
}

.consultation-page {
  img {
    width: 100%;
  }
}

