<ngx-slick-carousel
	#slickModal="slick-carousel"
  *ngIf="homageBanners$ | async as banners"
  [class.single-banner]="banners.length === 1"
  [config]="slideConfig"
  class="carousel hp-slider"
>
  <div *ngFor="let slide of banners" class="slide" ngxSlickItem>
    <div>
      <img [ngSrc]="getBackGroudImgRaw(slide.image.data.attributes.url, slide.imgSmall.data.attributes.url)"
           alt="Beauti Promo"
           fill="true"
           priority="true"
      />
      <div class="slider-title">

        <h3>{{ slide.title1 }}</h3>
        <h1 class="semi-bold">{{ slide.title2 }}</h1>

        <h2 class="light">{{ slide.title3 }}</h2>
        <h5 *ngIf="slide?.title4" class="light">{{ slide.title4 }}</h5>
      </div>
      <button
        *ngIf="slide.findOutMoreUrl"
        [routerLink]="slide.findOutMoreUrl"
        class="main-button treatments"
        color="primary"
        mat-flat-button
      >
        FIND OUT MORE
      </button>
      <button
        (click)="openBooking()"
        *ngIf="!slide.findOutMoreUrl"
        class="main-button treatments"
        color="primary"
        mat-flat-button
      >
        BOOK NOW
      </button>
      <div class="asterisk">{{ slide.asterisk }}</div>
    </div>
  </div>
</ngx-slick-carousel>

