h1,
h3,
h4,
h5,
div {
  font-family: 'Nunito Sans', sans-serif;
}

h3 {
  font-size: 19px;
  color: white;
}


h1,
h2 {
  font-size: 44px;
  color: white;
  text-align: left;

  &.semi-bold {
    font-weight: 600;
  }

  &.light {
    font-weight: 300;
  }

  @media (max-width: 479px) {
    font-size: 34px;
  }
}

h5.light {
  font-weight: 300;
  font-size: 27px;
  min-height: 37px;

  @media (max-width: 479px) {
    font-size: 24px;
  }
}

.asterisk {
  margin-bottom: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.67);
}

button {
  margin: 30px 0;
}

.slide {

  >div {
    // min-height: 503px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    background-color: white;
    color: white;
    height: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: 57%;
    padding: 5% 75px 3%;

    @media (max-width: 479px) {
      padding: 5% 30px 3% 30px;
      background-position: 0%;
    }
  }
}

.carousel {
  width: 100%;
  overflow: hidden;
  max-height: 550px;
}


.slider-title {
  max-width: 800px;

  h3 {
    text-align: left;
  }
}