h3,h4,h5, div {
  font-family: 'Nunito Sans', sans-serif;
}

h3 {
  font-size: 19px;
  color: white;
}


h4 {
  font-size: 44px;
  color: white;
  text-align: left;
  &.semi-bold {
    font-weight: 600;
  }
  &.light {
    font-weight: 300;
  }
  @media (max-width: 479px) {
    font-size: 34px;
  }
}
h5.light {
  font-weight: 300;
  font-size: 27px;
  min-height: 37px;
  @media (max-width: 479px) {
    font-size: 24px;
  }
}
.asterisk {
  margin-top: 5%;
  font-size: 16px;
  color: rgba(255,255,255,0.67);
}
button {
  margin: 30px 0;
}
.slide {
  > div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    background-color: white;
    color: white;
    
    background-repeat: no-repeat, repeat;
    background-size:cover;
    padding: 5% 70px 3% 70px;
    @media (max-width: 479px) {
      padding: 5% 30px 3% 30px;
      // background-position: 45% 72%;
    }
  }
  // @media only screen and (max-width: 960px) {
  //   height: 813px!important;
  //   > div {
  //     min-height: 761px!important;
  //   }
  // }
}

