img {
  min-width: 100px;
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  object-position: 0 0;

  @media (min-width: 648px) {
    max-height: 300px;
    object-position: 0 0;
  }

  @media (min-width: 768px) {
    max-height: 400px;
    object-position: 0 20%;
  }
}

swiper-container {
  text-align: center;
}
